*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    background-color: yellowgreen;
}
.container{
    background-color: #fff;
    border: 5px solid red;
    border-radius: 21px;
    padding: 30px;
    max-width: 1000px; 
    text-align: center;
    
}
.code-box{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: inline-flex;
    flex-direction: column;
    margin: 40px 0px ;
    
}

.code{
    border-radius: 5px;
    font-size: 25px;
    height: 40px;
    width: 35px;
    border: 2px solid #eee;
    text-align: center;
    font: weight 300px; ;
 
}
.btn{
    background-color: yellow;
    font-size: larger;
    font-weight: 100;
    border-radius: 3px;
    cursor: pointer;
    
}